body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#nimbus {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 150px;
    height: 150px;
}

.obstacle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
}